@font-face {
  font-family: 'iconfont';  /* project id 1781727 */
  src: url('//at.alicdn.com/t/font_1781727_puuyngggyt.eot');
  src: url('//at.alicdn.com/t/font_1781727_puuyngggyt.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1781727_puuyngggyt.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1781727_puuyngggyt.woff') format('woff'),
  url('//at.alicdn.com/t/font_1781727_puuyngggyt.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1781727_puuyngggyt.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondown-sign:before {
  content: "\e600";
}

.iconarrow-right:before {
  content: "\e6e4";
}

.iconerweima:before {
  content: "\e749";
}

